<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ahire/IdeaProjects/PetStoreAutomation/src/test/java/api/test/UserTest.java">
        <classes>
            <class name="api.test.UserTest">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUser"/>
                    <include name="updateUserName"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>